<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/delete.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/media-query.css">
</head>
<body>
    <div class="header">
        <span id="logo">
            <img src="https://tse3.mm.bing.net/th?id=OIP.EMRbmGaAcfuIa95--FQ_-QHaHa&pid=Api&P=0&h=180" alt="logo">
            <h2>Pixora</h2>
        </span>
        <span class="search-container">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="text" placeholder="Search" class="search">
        </span>
        <span id="btn">
            <a href="/"><i class="fa-solid fa-house"></i> Home</a>
            <a href="/new"><i class="fa-solid fa-pen-to-square"></i> Add post</a>
            <a href="/about"><i class="fa-solid fa-circle-info"></i> About</a>
            <a href="/help"><i class="fa-solid fa-circle-question"></i> Help</a>
        </span>
    </div>

    <div class="left-body">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="/profile"><i class="fa-solid fa-user"></i> Profile</a></li>
            <li><a href="/notification"><i class="fa-solid fa-bell"></i> Notifications</a></li>
            <li><a href="/setting"><i class="fa-solid fa-gear"></i> Settings</a></li>
            <li><a href="/friends"><i class="fa-solid fa-users"></i> Friends</a></li>
        </ul>
    </div>

    <div class="middle-body">
        <% for(post of posts) { %>
        <div class="box1">
            <div class="box-header">
                <div class="profile-pic">
                    <img src="<%= post.image %>" alt="profile picture">
                </div>
                <div class="info">
                    <span class="username"><%= post.username %></span>
                    <span class="music">
                       <span> <i class="fa-solid fa-music"></i>  Night Changes . One Direction</span>
                    </span>
                </div>
                <div class="threeDot">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div class="box-body">
                <img src="<%= post.image %>" alt="post img" class="ps-img">
            </div>
            <div class="box-footer">
                <div class="box-option">
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-comment"></i>
                    <i class="fa-regular fa-paper-plane"></i>
                    <i class="fa-regular fa-bookmark bk-i book"></i>
                </div>
                <div class="like-info">
                    <div class="small-dp">
                        <img src="<%= post.image %>" alt="post-img" class="post-img">
                    </div>
                    <div class="liked-by">Liked by <span>LGD_NAIK</span> and <span>110k others</span></div>
                </div>
                <div class="tags">
                    <p><span class="tags1">naik_2789</span> <%= post.caption %></i><span class="tags2">  ...more</span></p>
                    <span class="tag3">View all 20k comments </span>
                    <span class="tag4"><a>magneto_9356</a> God level Player <i class="fa-solid fa-fire" style="color: red;"></i></span>
                    <span class="tag5">3 days ago</span>
                </div>
            </div>
        </div>
        <span class="span">
            <a href="/<%= post.id %>/edit">Edit Post</a>
            <a href="/<%= post.id %>">View</a>
            <form method="post" action="/<%= post.id %>?_method=DELETE">
                <button class="btn">Delete</button>
            </form>
        </span>
        <% } %>
    </div>

    <div class="right-body">
        <h3>Trending</h3>
        <ul>
            <li><a href="#"><i class="fa-solid fa-hashtag"></i> #Pixora</a></li>
            <li><a href="#"><i class="fa-solid fa-hashtag"></i> #SocialMedia</a></li>
            <li><a href="#"><i class="fa-solid fa-hashtag"></i> #OneDirection</a></li>
            <li><a href="#"><i class="fa-solid fa-hashtag"></i> #NightChanges</a></li>
        </ul>
    </div>

    <div class="nav-bar">
        <div class="nav-opt">
            <a href="/"><i class="fa-solid fa-house"></i></a>
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="/new"><i class="fa-sharp fa-solid fa-square-plus plus" style="font-size: 2rem;"></i></a>
            <i class="fas fa-film"></i>
            <a href="/profile"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
</body>
</html>